<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>苏州恒峰不锈钢有限公司</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=1200,user-scalable=yes">
		<link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	</head>
	<body>
		<!--header-->
		<div th:replace="header :: common"></div>
		
		<div class="pg clearfix">
			<div class="pg-nav">
				<div class="pg-nav-title">产品中心</div>
				<ul>
					<li><a href="products.html">不锈钢无缝管系列</a></li>
					<li><a href="products.html">不锈钢管配件系列</a></li>
					<li><a href="products.html">工业焊管系列</a></li>
					<li><a href="products.html">不锈钢钢板</a></li>
				</ul>
			</div>
			<div class="pg-con">
				<div class="bread">
					<p>
						当前位置：
						<a href="index.html">首页</a>/
						<a>不锈钢无缝管系列</a>
					</p>
				</div>
				<div class="pg-content  ">
					<div class="prodetail clearfix">
						<div>
							<img src="static/images/products/pro1.jpg" />
						</div>
						<div>
							<h1>产品信息</h1>
							<h2>产品名称</h2>
							<p>双相不锈钢棒材</p>
							<h2>产品简介：</h2>
							<p>经下游加工成无缝钢管、管件、法兰、轴件、泵阀、杆件等成品，广泛应用于LNG液化天然气、化学品、海洋工业、石油化工等高端工业领域；</p>
							<h2>厚度：</h2>
							<p>2mm~3mm</p>
						</div>
					</div>
					<ul class="page">
						<li>上一产品：<a href="#">双相不锈钢棒材</a></li>
						<li>下一产品：<a href="#">双相不锈钢棒材</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--footer-->
		<div th:include="footer :: common"></div>

		<script th:src="@{/js/jquery.min.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/js/owl.carousel.min.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/js/main.js}" type="text/javascript" charset="utf-8"></script>
	</body>
</html>