<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="common">
    <div class="footer">
        <div class="foot-nav">
            <ul>
                <li><a href="index.html">网站首页</a></li>|
                <li><a href="products.html">产品中心</a></li>|
                <li><a href="news.html">新闻资讯</a></li>|
                <li><a href="about.html">关于我们</a></li>|
                <li><a href="contact.html">联系我们</a></li>
            </ul>
        </div>
        <div class="foot-mes">
            <div>
                <p>Copyright ©苏州恒峰不锈钢有限公司 All Rights Reserved　苏ICP备1601070号</p>
                <p>公司地址：江苏省苏州市官渎路428号 联系电话：67572586</p>
            </div>
        </div>
    </div>
</footer>

</html>