<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>苏州恒峰不锈钢有限公司</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=1200,user-scalable=yes">
		<link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	</head>
	<body>
		<!--nav-->
		<div class="top ">
			<div class="clearfix">
				<p class="flr">苏州恒峰不锈钢有限公司</p>
				<p class="fll">联系电话：67572586 </p>
			</div>
		</div>
		<div class="nav clearfix">
			<div class="logo">
				<img th:src="@{/images/logo.png}" />
			</div>
			<ul>
				<li><a href="/main/homePage">网站首页</a></li>
				<li>
					<a href="/main/allProduct">产品中心</a>
					<!--<ul class="dropdown">
						<li><a href="products.html">不锈钢无缝管系列</a></li>
						<li><a href="products1.html">不锈钢管配件系列</a></li>
						<li><a href="products2.html">工业焊管系列</a></li>
						<li><a href="products3.html">不锈钢钢板</a></li>
					</ul>-->
				</li>
				<li>
					<a href="/main/allNews">新闻资讯</a>
					<ul class="dropdown">
						<li><a href="news.html">行业资讯</a></li>
						<li><a href="news-gs.html">公司新闻</a></li>
					</ul>
				</li>
				<li>
					<a href="/main/aboutUs">关于我们</a>
				</li>
				<li><a href="/main/contactUs">联系我们</a></li>
			</ul>
		</div>
		<!--banner-->
		<div id="owl" class="owl-carousel">
			<a class="item"><img th:src="@{/images/banner/banner1.jpg}" alt=""></a>
			<a class="item"><img th:src="@{/images/banner/banner3.jpg}" alt=""></a>
			<a class="item"><img th:src="@{/images/banner/banner2.jpg}" alt=""></a>
		</div>
		
		<div class="pg clearfix">
			<div class="pg-nav">
				<div class="pg-nav-title">产品中心</div>
				<!--<ul>
					<li><a href="products.html">不锈钢无缝管系列</a></li>
					<li><a href="products1.html">不锈钢管配件系列</a></li>
					<li><a href="products2.html">工业焊管系列</a></li>
					<li><a href="products3.html">不锈钢钢板</a></li>
				</ul>-->
			</div>
			<div class="pg-con">
				<div class="bread">
					<p>
						当前位置：
						<a href="index.html">首页</a>/
						<a>不锈钢无缝管系列</a>
					</p>
				</div>
				<div class="pg-content propg">
					<ul class="clearfix ">
					<li>
						<a href="products-detail.html"> 
							<div>
								<img th:src="@{/images/products/pro1.jpg}"/>
							</div>
							<p>无缝钢管系列01</p>
						</a>
					</li>
					<li>
						<a href="products-detail.html"> 
							<div>
								<img th:src="@{/images/products/pro2.jpg}"/>
							</div>
							<p>无缝钢管系列02</p>
						</a>
					</li>
					<li>
						<a href="products-detail.html"> 
							<div>
								<img th:src="@{/images/products/pro3.jpg}"/>
							</div>
							<p>无缝钢管系列03</p>
						</a>
					</li>
					<li>
						<a href="products-detail.html"> 
							<div>
								<img th:src="@{/images/products/pro4.jpg}"/>
							</div>
							<p>无缝钢管系列04</p>
						</a>
					</li>
					<li>
						<a href="products-detail.html"> 
							<div>
								<img th:src="@{/images/products/pro5.jpg}"/>
							</div>
							<p>无缝钢管系列05</p>
						</a>
					</li>
					<li>
						<a href="products-detail.html"> 
							<div>
								<img th:src="@{/images/products/pro6.jpg}"/>
							</div>
							<p>无缝钢管系列06</p>
						</a>
					</li>
					<li>
						<a href="products-detail.html"> 
							<div>
								<img th:src="@{/images/products/pro7.jpg}"/>
							</div>
							<p>无缝钢管系列07</p>
						</a>
					</li>
					<li>
						<a href="products-detail.html"> 
							<div>
								<img th:src="@{/images/products/pro8.jpg}"/>
							</div>
							<p>无缝钢管系列08</p>
						</a>
					</li>
					<li>
						<a href="products-detail.html"> 
							<div>
								<img th:src="@{/images/products/pro9.jpg}"/>
							</div>
							<p>无缝钢管系列09</p>
						</a>
					</li>
				</ul>
				</div>
			</div>
		</div>
		<!--footer-->
		<div class="footer">
			<div class="foot-nav">
				<ul>
					<li><a href="index.html">网站首页</a></li>|
					<li><a href="products.html">产品中心</a></li>|
					<li><a href="news.html">新闻资讯</a></li>|
					<li><a href="about.html">关于我们</a></li>|
					<li><a href="contact.html">联系我们</a></li>
				</ul>
			</div>
			<div class="foot-mes">
				<div>
					<p>Copyright ©苏州恒峰不锈钢有限公司 All Rights Reserved　苏ICP备1601070号</p>
					<p>公司地址：江苏省苏州市官渎路428号 联系电话：67572586</p>
				</div>
			</div>
		</div>


		<script th:src="@{/js/jquery.min.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/js/owl.carousel.min.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/js/main.js}" type="text/javascript" charset="utf-8"></script>
	</body>
</html>